.container {
  padding: 20px;
}

.stats {
  margin-bottom: 20px;
}

.filterButtons {
  margin-bottom: 20px;
}

.filterButtons button {
  margin-right: 10px;
  padding: 8px 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #007acc; /* дефолтный цвет */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.filterButtons button:hover {
  background-color: #005f99;
}

.active {
  background-color: #07d100 !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f9f9f9;
}
